<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="full-background">
                <div class="login-background">
                    <div class="login-card">
                        <h3 class="login-title"> <i class="fas fa-car"> Login</i></h3>
                        <h6>Parking Managemnet System</h6>
                        <form>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Enter email" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" name="password" id="password"
                                    placeholder="Enter password" required>
                            </div>

                            <button type="button" class="btn btn-primary w-100">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>